@font-face
{
font-family: 'Ubuntu Light';
src: local('Ubuntu') url('/Users/cartertorres/Downloads/Ubuntu/Ubuntu-Light.ttf') format('truetype');
font-weight: normal;
}

@font-face
{
    font-family: 'Ubuntu Bold';
    src: local('Ubuntu') url('/Users/cartertorres/Downloads/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
    font-weight: normal;
}
body
{font-family: 'Ubuntu';}

h1.title
{font-family: 'Ubuntu';}

a
{text-decoration: none;}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}